dist
env
dank_mids.egg-info
.hypothesis
.pytest_cache
.eggs
.mypy_cache
__pycache__
.env
.tox/
.python-version
build/lib.linux-x86_64-3.8/
build/lib.linux-x86_64-3.9/
build/lib.linux-x86_64-cpython-310/
build/lib.linux-x86_64-cpython-311/
build/lib.linux-x86_64-cpython-312/
build/lib.linux-x86_64-cpython-313/
build/lib.macosx-11-universal2-3.8/
build/lib.macosx-10.9-universal2-3.9/
build/lib.macosx-10.9-universal2-cpython-310/
build/lib.macosx-10.9-universal2-cpython-311/
build/lib.macosx-10.13-universal2-cpython-312/
build/lib.win-amd64-3.8/
build/lib.win-amd64-3.9/
build/lib.win-amd64-cpython-310/
build/lib.win-amd64-cpython-311/
build/lib.win-amd64-cpython-312/
build/temp.linux-x86_64-3.8/
build/temp.linux-x86_64-3.9/
build/temp.linux-x86_64-cpython-310/
build/temp.linux-x86_64-cpython-311/
build/temp.linux-x86_64-cpython-312/
build/temp.linux-x86_64-cpython-313/
build/temp.macosx-11-universal2-3.8/
build/temp.macosx-10.9-universal2-3.9/
build/temp.macosx-10.9-universal2-cpython-310/
build/temp.macosx-10.9-universal2-cpython-311/
build/temp.macosx-10.13-universal2-cpython-312/
build/temp.win-amd64-3.8/
build/temp.win-amd64-3.9/
build/temp.win-amd64-cpython-310/
build/temp.win-amd64-cpython-311/
build/temp.win-amd64-cpython-312/