[submodule "dank_mids/_vendor/aiolimiter"]
	path = dank_mids/_vendor/aiolimiter
	url = https://github.com/BobTheBuidler/aiolimiter.git
	branch = mypyc
[submodule ".clinerules/hooks/submodules/TaskStart"]
	path = .clinerules/hooks/submodules/TaskStart
	url = https://github.com/BobTheBuidler/TaskStart.git
[submodule ".clinerules/hooks/submodules/PostToolUse"]
	path = .clinerules/hooks/submodules/PostToolUse
	url = https://github.com/BobTheBuidler/PostToolUse.git
