dist
env
dank_mids.egg-info
.hypothesis
.pytest_cache
.eggs
.mypy_cache
__pycache__
.env
.worktrees
.tox/
.python-version
build/**/*.o
build/**/*.so
build/**/*.pyd
build/ops.txt
# build stuff
build/se
