[tool.poetry]
name = "dank-mids"
version = "4.20.97"
description = "Multicall batching middleware for asynchronous scripts using web3.py"
authors = ["BobTheBuidler <bobthebuidlerdefi@gmail.com>"]
homepage = "https://github.com/BobTheBuidler/dank_mids"
repository = "https://github.com/BobTheBuidler/dank_mids"
documentation = "https://BobTheBuidler.github.io/dank_mids"
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.13"
aiofiles = "*"
eth-retry = "^0.1.15"
evmspec = "^0.0.1"
ez-a-sync = ">=0.20.7,<0.24"
multicall = ">=0.6.2,<1"
typed-envs = "^0.0.2"
web3 = ">=5.27,!=5.29.*,!=5.30.*,!=5.31.1,!=5.31.2,<8"

[tool.poetry.group.dev.dependencies]
eth-brownie = [
    {version = ">=1.16,<1.20", python = ">=3.8,<3.10"},
    {version = ">=1.20.3", python = ">=3.10,<4"}
]
pytest = "*"
pytest-asyncio-cooperative = "*"
pytest-cov = "*"
pytest-sugar = "*"
# need this to resolve brownie locally, didn't before
importlib-resources = ">=6.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
exclude = ["build/","cache/","env/","tests/"]
ignore_missing_imports = true
check_untyped_defs = true
disable_error_code = ["return"]

[tool.black]
line-length = 100
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | cache
  | docs
  | dist
  | env
)/
'''
