[tool.poetry]
name = "dank-mids"
version = "0.1.0"
description = "Multicall batching middleware for asynchronous scripts using web3.py"
authors = ["BobTheBuidler <bobthebuidlerdefi@gmail.com>"]
homepage = "https://github.com/BobTheBuidler/dank_mids"
repository = "https://github.com/BobTheBuidler/dank_mids"
documentation = "https://BobTheBuidler.github.io/dank_mids"
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.13"
aiofiles = "^23.2.1"
eth-retry = "^0.1.19"
ez-a-sync = ">=0.20.7,<0.22"
msgspec = "^0.18.6"
multicall = "^0.9.0"
typed-envs = "^0.0.4"
web3 = ">=5.27,!=5.29.*,!=5.30.*,!=5.31.1,!=5.31.2"

[tool.poetry.group.dev.dependencies]
eth_brownie = [
    {version = ">=1.18,<=1.19.5", python = ">=3.8,<3.10"},
    {version = ">1.19.5", python = ">=3.10,<4"}
]
pytest = ">=6.2.5"
pytest-asyncio-cooperative = "^0.36.0"
pytest-cov = "^5.0.0"
pytest-sugar = "^1.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
exclude = ["build/","cache/","env/","tests/"]
ignore_missing_imports = true
check_untyped_defs = true
disable_error_code = ["return"]
