name: Build Mypyc

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'
      - '!.github/workflows/build.yaml'
      - 'tests/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # Check out the PR branch
          ref: ${{ github.head_ref }}

      # Python 3.10
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Mypyc (3.10)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.10)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.11
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install Mypyc (3.11)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.11)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.12
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Mypyc (3.12)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.12)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.13
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install Mypyc (3.13)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.13)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      - name: Check for changes (Ubuntu)
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "changes_detected=true" >> $GITHUB_ENV
          else
            echo "changes_detected=false" >> $GITHUB_ENV
          fi

      - name: Commit changes (Ubuntu)
        if: env.changes_detected == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: compile to C for Linux x64 with mypyc"
          git push

  build-macos:
    needs: build-ubuntu
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      # Python 3.10
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Mypyc (3.10)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.10)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.11
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install Mypyc (3.11)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.11)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.12
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Mypyc (3.12)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.12)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.13
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install Mypyc (3.13)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.13)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      - name: Check for changes (macOS)
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "changes_detected=true" >> $GITHUB_ENV
          else
            echo "changes_detected=false" >> $GITHUB_ENV
          fi

      - name: Commit changes (macOS)
        if: env.changes_detected == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: compile to C for macOS with mypyc"
          git push

  build-windows:
    needs: build-macos
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      # Python 3.10
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Mypyc (3.10)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.10)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.11
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install Mypyc (3.11)
        run: pip install mypy[mypyc]==1.18.2 types-requests eth-typing
      - name: Run Mypyc (3.11)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.12
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Mypyc (3.12)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.12)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc

      # Python 3.13
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install Mypyc (3.13)
        run: pip install mypy[mypyc]==1.18.2 setuptools types-requests eth-typing
      - name: Run Mypyc (3.13)
        env:
          MYPYC_STRICT_DUNDER_TYPING: 1
        run: make mypyc
          
      - name: Normalize C files for diffchecking
        # This makes it much easier to diffcheck changes in the C files
        shell: bash
        run: |
          # Insert DIFFCHECK_PLACEHOLDER macro at the top if not present
          for f in build/*.c; do
            if ! grep -q 'DIFFCHECK_PLACEHOLDER' "$f"; then
              sed -i '1i#ifndef DIFFCHECK_PLACEHOLDER\n#define DIFFCHECK_PLACEHOLDER 0\n#endif' "$f"
            fi
          done
          # Replace line number in CPy_AddTraceback with macro
          sed -i 's/\(CPy_AddTraceback([^,]*, *[^,]*, *\)[0-9]\+\(, *[^)]*)\)/\1DIFFCHECK_PLACEHOLDER\2/g' build/*.c
          # Replace index in CPyStatics[...] with macro
          sed -i 's/CPyStatics\[[0-9]\+\]/CPyStatics[DIFFCHECK_PLACEHOLDER]/g' build/*.c

      - name: Check for changes (Windows)
        shell: bash
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "changes_detected=true" >> $GITHUB_ENV
          else
            echo "changes_detected=false" >> $GITHUB_ENV
          fi

      - name: Commit changes (Windows)
        if: env.changes_detected == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: compile to C for Windows AMD64 with mypyc"
          git push
