name: MyPy

on: pull_request

jobs:
  mypy:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Install MyPy
      run: |
        python -m pip install --upgrade pip
        pip install mypy types-requests

    - name: Run MyPy
      run: mypy ./dank_mids --pretty --ignore-missing-imports --show-error-codes --show-error-context
