name: MyPy

on:
  pull_request:
    paths:
      - '**.py'
      - '**/mypy.yaml'
      - 'poetry.lock'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        persist-credentials: false
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyversion }}

    - name: Install MyPy
      run: |
        python -m pip install --upgrade pip
        pip install mypy types-requests types-aiofiles

    - name: Run MyPy
      run: mypy ./dank_mids --pretty --ignore-missing-imports --show-error-codes --show-error-context --no-warn-no-return
