name: PyTest

on:
  pull_request:
    # The branches below must be a subset of the branches above
    branch: master
    paths:
      - '**.py'
      - '**/pytest.yaml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.8", "3.9", "3.10", "3.11" ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Install dependencies
        run: |
          pip install -r requirements.txt -r requirements-dev.txt
      
      - name: Setup brownie networks
        run: |
          brownie networks modify mainnet host=${{ secrets.WEB3_PROVIDER }}
        continue-on-error: true

      - name: Run test suite
        env:
          PYTEST_NETWORK: mainnet
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN  }}
        run: pytest
      
