name: Upload Python Package

on:
  push:
    branches:
      - dev
  release:
    branches:
      - master
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        persist-credentials: false
    
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.9"
        cache: pip
        cache-dependency-path: |
            pyproject.toml
            poetry.lock

    - name: Load cached Poetry installation
      id: cached-poetry
      uses: actions/cache@v4
      with:
        path: ~/.local  # the path depends on the OS
        key: poetry-${{ runner.os }}-3.9-0  # increment to reset cache
          
    - name: Install Poetry
      if: steps.cached-poetry.outputs.cache-hit != 'true'
      uses: snok/install-poetry@v1

    - name: Build and Publish
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_PASSWORD }}
        poetry publish --build --no-interaction

